@import '../../../style/variables';

:root {
  --primary: #fff;
}

.btn {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--primary {
  background-color: $orange;
  color: #f1f1f1;
}

.btn--dark {
  background-color: #000;
  color: #f1f1f1;
}

.btn--outline {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
