@import '/src/style/typography';
@import '/src/style/variables';

.section {
  padding: 0 2rem;
  position: relative;

  &::before {
    background-image: url(../assets/home/mobile/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: -2%;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 13rem 0rem;
}
.tagline,
.title,
.description {
  color: $white;
}

.tagline,
.description {
  opacity: 0.5;
}

.title {
  @include HeadingOne;
  padding: 16px 0 24px;
}

.tagline {
  @include Overline;
}

.description {
  margin-bottom: 2rem;
}
