@import '../style/variables';

.card {
  position: relative;
}

.card:not(:last-of-type) {
  margin-bottom: 3rem;
}

.card::after {
  content: '';
  position: absolute;
  height: 155px;
  background-color: #f1f1f1;
  top: 60px;
  left: 0;
  border-radius: 10px;
  width: 90%;
  z-index: -1;
  margin: 0 1rem;
}

.productImg {
  width: 40%;
  padding-bottom: 2rem;
}

.category_title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.link_container {
  margin-top: -50px;

  & a {
    text-decoration: none;
    color: $darkgray;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-right: 5px;
  }
}
