.card {
  position: relative;
}

.card:not(:last-of-type) {
  margin-bottom: 2rem;
}

.card::after {
  content: '';
  position: absolute;
  height: 150px;
  background-color: #f1f1f1;
  top: 50px;
  left: 40px;
  border-radius: 10px;
  width: 80%;
  z-index: -1;
}

.productImg {
  width: 50%;
}

.category_title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
