.speaker_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & img {
    padding-top: 1rem;
  }
}

.speaker_highlight_copy {
  width: 60%;
  margin: -10px auto;
  margin-top: -5rem;
}
