@import '../style/variables';

.zx7-container {
  background-color: $orange;
  margin: 0 1.2rem;
  border-radius: 10px;
  min-height: 400px;
  background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
